.base-textarea {
    max-height: 200px;
    overflow: auto;

    &__control {
        width: 100%;
        display: block;
        box-sizing: border-box;
        overflow: hidden;
        resize: none;
    }
}
