.right-bar-element {
    &__link {
        display: block;
        font-size: 14px;
        color: blue;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__block {
        margin-bottom: 5px;
    }

    &__add {
        display: flex;
        gap: 5px;
    }

    &__add-input {
        flex-grow: 1;
    }

    &__items {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-bottom: 5px;
    }

    &__item {
        display: flex;
        gap: 3px
    }
}
