.right-bar {
    display: flex;
    flex-direction: column;
    gap: $step;
    padding: $step 5px;

    &__block {
        display: flex;
        flex-direction: column;
        max-height: 100%;
        border-bottom: 1px solid $grey_80;
        padding: 0 0 $step;
        line-height: 1;

        &:last-child {
            border: none;
        }
    }

    &__tree {
        flex: 1;
        overflow-y: scroll;
    }
}
