.app {
    font-family: arial, sans-serif;
    background: #eee;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    padding: 10px;

    &__editor {
        background: #fff;
        max-width: 800px;
        border: 1px solid #ccc;
        min-height: 500px;
        margin: 0 auto;
    }
}
