html, body {
    margin: 0;
    height: 100%;
}

#app {
    min-height: 100%;
    display: flex;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: arial, sans-serif;
    background: #aaa;
    box-sizing: border-box;
    padding: 10px;
    min-height: 100%;
    flex: 1;

    &__editor {
        background: #fff;
        width: 1200px;
        border: 1px solid #ccc;
        height: 800px;
        margin: 0 auto;
    }
}
