.the-editor {
    display: flex;

    &__left-bar,
    &__right-bar {
        position: relative;
        background: $grey_93;

        &::before {
            position: absolute;
            content: '';
            top: 0;
            right: 0;
            width: 1px;
            height: 100%;
            background: $grey_80;
        }
    }

    &__left-bar {
        width: 5px;
    }

    &__right-bar {
        width: 200px;

        &::before {
            left: 0;
            right: auto;
        }
    }

    &__content {
        display: flex;
        flex: 1;
    }

    &__frame {
        flex: 1;
        border: none;
    }
}
